*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
input{
	text-indent: 3px;
}
#detailContent{
	width: 1210px;
	margin: 0 auto;
	min-height: 600px;
	height: auto!important;
	height: 600px;
}
#detailContent:after{
	content: '.';
	height: 0;
	clear: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}
.list{
	width: 1210px;
	min-height: 600px;
	height: auto!important;
	height: 600px;
	padding-top: 15px;
	margin: 0 auto;
	background: white;
}
.list:after{
	content: '.';
	height: 0;
	clear: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}
.list-top{
	width: 1208px;
	min-height: 114px;
	height: auto!important;
	height: 96px;
	border: 1px solid #CCCCCC;
	padding-bottom: 20px;
	background: white;
	padding-top: 8px;
	position: relative;
}
.list-top:after{
	content: '.';
	height: 0;
	clear: 0;
	display: block;
	overflow: hidden;
	visibility: hidden;
}
.list-top1{
	width: 1196px;
	padding-top: 14px;
	height: 90px;
}
.list-top1>p:nth-child(1){
	width: 1210px;
	height: 46px;
	background: url(../img/cate1.png) no-repeat 102px bottom;
}
.list-top1>p:nth-child(1)>a{
	display: block;
	float: left;
	padding: 3px 11px;
}
.list-top1>p:nth-child(1)>a:nth-child(1){
	margin-left: 24px;
	font-size: 14px;
	color: #666666;
}
.list-top1>p:nth-child(1)>a:nth-child(2){
	margin-left: 7px;
	background: #E93450;
	color: white;
	font-size: 11px;
}
.list-top1>p:nth-child(2){
	width: 1210px;
	height: 44px;
	line-height: 44px;
	padding-left: 107px;
}
.list-top1>p:nth-child(2)>a{
	font-size: 11px;
	color: #666666;
	margin-right: 5px;
}
.list-top1>p:nth-child(2)>a.changeColor{
	padding: 3px 11px;
	color: white;
	background: #E93450;
}
.listHide{
	width: 953px;
	height: 58px;
	padding-left: 15px;
	display: none;
	position: relative;
	left: 100px;
	top: 0;
	line-height: 58px;
	border: 1px solid #CCCCCC;
}
.listfade{
	display: block;
}
.listHide>a{
	font-size: 11px;
	color: #999999;
}
.listHide>a:hover{
	color: #E93450;
}
.listMenu{
	width: 1208px;
	height: 40px;
	border: 1px solid #DFDFDF;
	border-top: 2px solid #DFDFDF;
	margin: 15px auto;
	background: #F5F5F5;
}
.listMenu>a{
	display: block;
	float: left;
	height: 40px;
	line-height: 40px;
	width: 92px;
	text-align: center;
	color: #666666;
	font-size: 11px;
	background: url(../img/cate/cate1.png) no-repeat 60px center;
	
}
.listMenu>a:first-child{
	border-right: 1px solid #DFDFDF;
}
.listMenu>a:last-child{
	float: right;
	margin-right: 15px;
	background: none;
}
.list-dl{
	width: 280px;
	height: 412px;
	border: 1px solid #DDDDDD;
	float: left;
	margin-right: 25px;
	margin-bottom: 10px;
}
.list-dl>dt{
	width: 222px;
	height: 221px;
	float: left;
	padding: 30px 29px;
}
.list-dl>dt>img{
	width: 222px;
	height: 221px;
}
.list-dl>dd{
	width: 280px;
	height: 131px;
	float: left;
}
.list-p1{
	width: 280px;
	height: 60px;
	font-size: 11px;
	color: #666666;
	line-height: 23px;
}
.list-p1>span:first-child{
	font-size: 14px;
	color: #E31939;
	padding-left: 3px;
	padding-right: 5px;
}
.list-p2{
	width: 270px;
	padding-right: 10px;
	height: 40px;
	line-height: 40px;
}
.list-p2>span:first-child{
	font-size: 16px;
	color: #E31939;
	padding-left: 10px;
	padding-right: 5px;
}
.list-p2>span:nth-child(2){
	font-size: 9px;
	color: #9C929F;
	text-decoration: line-through;
}
.list-p2>span:nth-child(3){
	float: right;
	padding: 0 10px;
	font-size: 11px;
	color: white;
	background: #E31939;
}
.list-p3{
	width: 280px;
	height: 20px;
	font-size: 11px;
	color: #656565;
	line-height: 20px;
}
.list-p3>span:first-child{
	padding-left: 27px;
	background: url(../img/cate/cate2.png) no-repeat left center;
}
.list-p3>span:last-child{
	padding-right: 10px;
	float: right;
}
