@charset "utf-8";
/*主页页面底部样式footertop*/
*{
	padding: 0;
	margin: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.footertop{
	width: 1210px;
	height: 240px;
	margin: 0 auto;
}
.footertop-center{
	width: 1210px;
	height: 219px;
	padding-top: 20px;
	border-bottom: 1px solid #DFDFDF;
}
.footertop-center>dl{
	float: left;
	width: 190px;
	height: 171px;
	text-align: center;
	color: #6D6D6D;
	border-right: 1px solid #DFDFDF;
}
.footertop-center>dl>dt{
	width: 190px;
	height: 19px;
	line-height: 19px;
	font-size: 15px;
	float: left;
}
.footertop-center>dl>dd{
	width: 190px;
	height: 152px;
	float: left;
}
.footertop-center>dl>dd>a{
	font-size: 12px;
	display: block;
	color: #6D6D6D;
	line-height: 28px;
}
.footertop-center>dl>dd>a:hover{
	text-decoration: underline;
	color: #ee330a;
}
.footertop-center>dl:first-child{
	height: 199px;
	border-right: 1px solid #DFDFDF;
}
.footertop-center>div{
	width: 155px;
	float: left;
	height: 199px;
	padding-left: 50px;
	padding-right: 50px;
}
.footertop-center>div>p{
	width: 155px;
	text-align: center;
}
.footertop-center>div>p:first-child{
	height: 28px;
	line-height: 28px;
	color: #E31939;
	font-size: 17px;
}
.footertop-center>div>p:nth-child(2){
	height: 26px;
	color: #6D6D6D;
	font-size: 13px;
}
.footertop-center>div>p:nth-child(3){
	height: 14px;
	color: #6D6D6D;
	font-size: 13px;
}
.footertop-center>div>button{
	display: block;
	border: none;
	background: #FF4A00;
	width: 120px;
	height: 30px;
	margin: 18px auto;
	color: white;
}
.footertop-center>div>button:hover{
	background: #ee330a;
}