@charset "utf-8";

/*热门店铺---------------------------*/

* {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.stores {
	width: 1210px;
	height: 358px;
	margin: 0 auto;
}

.stores-top {
	width: 100%;
	height: 32px;
	line-height: 32px;
}

.stores-top>span {
	display: block;
}

.stores-top2 {
	display: block;
	float: right;
	width: 192px;
	height: 20px;
	margin-top: 10px;
	line-height: 20px;
	font-size: 11px;
	color: #666666;
	text-align: center;
	background: url(../img/stores/stores4.png) no-repeat 120px top;
}

.stores-top1 {
	width: 192px;
	height: 20px;
	float: left;
	overflow: hidden;
	margin-top: 5px;
	background: url(../img/user_header.png) no-repeat left top;
}
.stores-top2:hover>span{
	text-decoration: underline;
}
.stores-pic {
	width: 1210px;
	height: 326px;
}

.stores-left {
	width: 212px;
	height: 324px;
	border: 1px solid #F0F0F0;
	border-left: none;
	color: #666666;
	float: left;
}

.stores-left>img {
	float: left;
	width: 212px;
	height: 324px;
}

.stores-center {
	border-spacing: 0;
	border-collapse: collapse;
	width: 783px;
	height: 325px;
	float: left;
	border: 1px solid;
	border-color: #F0F0F0;
	text-align: center;
}

.stores-right {
	width: 212px;
	height: 324px;
	border: 1px solid #F0F0F0;
	float: left;
}
.stores-right>img {
	width: 212px;
	height: 324px;
	float: left;
}
.pics{
	position: relative;
}
.pics>img{
	position: absolute;
	top: 20px;
	left: 20px;
}
@-webkit-keyframes stores{
	0%{left: 20px;top: 20px;}
	15%{left: 20px;top: 10px;}
	30%{left: 20px;top: 20px;}
	45%{left: 20px;top: 13px;}
	60%{left: 20px;top: 20px;}
	75%{left: 20px;top: 16px;}
	90%{left: 20px;top: 20px;}
	95%{left: 20px;top: 18px;}
	100%{left: 20px;top: 20px;}
}
@keyframes stores{
	0%{left: 20px;top: 20px;}
	15%{left: 20px;top: 10px;}
	30%{left: 20px;top: 20px;}
	45%{left: 20px;top: 13px;}
	60%{left: 20px;top: 20px;}
	75%{left: 20px;top: 16px;}
	90%{left: 20px;top: 20px;}
	95%{left: 20px;top: 18px;}
	100%{left: 20px;top: 20px;}
}
.pics:hover>img{
	animation: 1s stores;
	transition: .5s animation;
}
.pics:hover>img{
	-webkit-animation: 1s stores;
	transition: .5s -webkit-animation;
}
