@charset "utf-8";
html,
body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}
.mui-content {
  padding-top: 0 !important;
}
/*主页头部*/
.header {
  box-shadow: none!important;
  background-color: #ff6600;
  padding: 0.05rem 0.1rem;
  height: 0.46rem;
}
.header-search,
.localtion {
  display: block;
  float: left;
}
.header-search {
  width: 80%;
  height: 0.36rem;
  line-height: 0.36rem;
  font-size: 14px;
  color: #aaa;
  text-indent: 14px;
  background-color: #fff;
}
.header-search:active {
  color: #aaa;
}
.localtion {
  width: 20%;
  height: 0.36rem;
  font-size: 14px;
  line-height: 0.36rem;
  color: #fff;
  text-align: center;
}
.localtion i {
  display: inline-block;
  margin-right: 0.05rem;
  width: 0.22rem;
  font-size: 14px;
}
/*轮播*/
.mui-slider {
  margin-top: 0.46rem;
  margin-bottom: 0.1rem;
  padding-bottom: 0;
}
.mui-slider img {
  border: none;
}
.phone-mobile {
  width: 100%;
  height: 1rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  margin-bottom: 0.1rem;
}
.phone-wrap {
  width: 100%;
  height: 100%;
}
.phone-wrap li {
  background-color: #eee;
  width: 50%;
  height: 100%;
  padding: 0.01rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.phone-wrap li img {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
}
/*超实惠*/
.cheap {
  width: 100%;
  height: 0.44rem;
  background-color: #fff;
  clear: both;
}
.cheap h3 {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 0.44rem;
  font-size: 16px;
  color: #f92851;
}
.cheap-wrap {
  padding-top: 0.01rem;
  margin-bottom: 0.1rem;
  border-top: 1px solid #eee;
  width: 100%;
  background-color: #fff;
}
.cheap-wrap .cheap-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cheap-wrap .cheap-flex div {
  flex: 1;
}
.cheap-wrap .cheap-flex div.right img {
  width: 100%;
  height: 2.08rem;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0.1rem;
}
.cheap-wrap .default {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.cheap-wrap .default div {
  flex: 1;
}
.cheap-wrap .default div.right img {
  width: 100%;
  border-left: 1px solid #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 0;
  padding-right: 0.1rem;
  height: 1.04rem;
  border-bottom: 1px solid #eee;
}
.cheap-wrap img {
  padding-left: 0.1rem;
  display: block;
  float: left;
  width: 100%;
  height: 1.04rem;
  border-bottom: 1px solid #eee;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*新品热卖*/
.newHot {
  width: 100%;
  background-color: #eee;
  min-height: 0.44rem;
  margin-bottom: 0.1rem;
  display: block;
  clear: both;
}
.newHot-header {
  width: 100%;
  height: 0.44rem;
  position: relative;
}
.newHot-header button {
  width: 50%;
  height: 0.44rem;
  display: block;
  float: left;
  font-size: 16px;
  border: none;
  background-color: #f9f9f9;
  color: #aaa;
}
.newHot-header button.isActive {
  color: #71ca11;
  background-color: #ffffff;
}
/*新品热卖阴影效果*/
.newHot-shadow {
  position: absolute;
  left: 50%;
  top: 0;
  z-index: 2;
  width: 0;
  height: 0;
  border-bottom: 0.44rem solid #EEEEEE;
  border-right: 0.15rem solid transparent;
}
.newHot-list {
  width: 100%;
}
.newHot-list li {
  margin-bottom: 0.01rem;
  display: block;
  width: 100%;
  height: 1.5rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  box-sizing: border-box;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background-color: #fff;
}
.newHot-list li img {
  display: block;
  float: left;
  width: 1rem;
  height: 1rem;
  margin-right: 0.2rem;
}
.newHot-p1 {
  font-size: 14px;
  color: #666;
}
.newHot-p2 {
  font-size: 12px;
  color: #aaa;
}
.isMore {
  margin-bottom: 0.1rem;
  display: block;
  border: none;
  width: 100%;
  height: 0.44rem;
  font-size: 14px;
  color: #aaa;
}
/*店铺推荐*/
.shopTj {
  width: 100%;
  min-height: 0.48rem;
  clear: both;
}
.shopTj-header {
  width: 100%;
  height: 0.48rem;
  margin-bottom: 0.1rem;
}
.shopTj-header h3 {
  width: 100%;
  height: 100%;
  line-height: 0.48rem;
  text-align: center;
  font-size: 16px;
  color: #27cece;
  background-color: #fff;
}
.shopTj-body {
  width: 100%;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 0.1rem;
  column-gap: 0.1rem;
}
.shopTj-ul {
  width: 100%;
}
.shopTj-ul li {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #fff;
  margin-bottom: 0.12rem;
}
.shopTj-ul li img {
  display: block;
  width: 100%;
  height: 0.8rem;
  float: left;
  margin-bottom: 0.1rem;
}
.shopTj-p1 {
  width: 100%;
  height: auto;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 0.07rem;
  color: #666;
  text-indent: 0.1rem;
}
.shopTj-p2 {
  width: 100%;
  height: auto;
  font-size: 12px;
  line-height: 0.20rem;
  text-indent: 0.1rem;
  color: #aaa;
}
/*版权所有*/
.copyright {
  width: 100%;
  min-height: 1.56rem;
  padding-top: 0.32rem;
  box-sizing: border-box;
  background-color: #fff;
}
.copyright-top {
  width: 100%;
  margin-bottom: 0.26rem;
}
.copyright-top a {
  width: 25%;
  height: 12px;
  display: block;
  float: left;
  box-sizing: border-box;
  border-right: 1px solid #dfdfdf;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  color: #666;
  background-color: #fff;
}
.copyright-top a.copyright-aLast {
  border-right: none;
}
.copyright-b {
  width: 100%;
}
.copyright-b p {
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
/*footer*/
.mui-active {
  color: #ff6600;
  border-color: 0!important;
}
.footer {
  box-shadow: none;
  border-top: 0.01rem solid #f9f9f9;
}
.footer a {
  background-color: #fff;
}
.mui-btn-blue {
  border: 1px solid #FF6600;
  background-color: #FF6600;
}
