@charset "utf-8";
html,
body {
  background-color: #f9f9f9;
  overflow-x: hidden;
}
.mui-content {
  padding-top: 0 !important;
}
.footer {
  -webkit-box-shadow: 0 -1px 70px 0px #dfdfdf;
  box-shadow: 0 -1px 70px 0px #dfdfdf;
}
